@import '../layout.css';

.change-desk {
  font-size: 16px;
}

@media (min-width: 900px) {
  .change-desk {
    font-size: 1.2em;
  }
}

.change-desk__row {
  display: flex;
  margin-bottom: 10px;
  padding: 5px calc(100% - 380px) 0 20px;
}

.change-desk__row--in {
  padding-top: 10px;
  border-top: 1px solid #555;
}

.change-desk__row--out {
  justify-content: flex-end;
}

.change-desk__row input {
  width: 70px;
}

.result {
  padding: 0 10px;
  color: gold;
}

.time-input {
  width: 70px;
}

.time-input input {
  max-width: 32px;
}
