-
  var modules_data = modules_data = {
    cargoBayExtension: {
      id: "cargoBayExtension",
      name: "Cargo Bay Extension",
      prices: [
        1000,
        5000,
        25000,
        50000,
        100000,
        250000,
        500000,
        1000000,
        2000000,
        4000000
      ],
      term: ["5m", "4h", "12h", "1d", "2d", "3d", "4d", "5d", "6d", "7d"]
    },
    shipmentComputer: {
      id: "shipmentComputer",
      name: "Shipment Computer",
      prices: [
        8000,
        12000,
        25000,
        50000,
        100000,
        250000,
        500000,
        1000000,
        2000000,
        4000000
      ],
      term: ["4h", "8h", "1d", "2d", "3d", "4d", "5d", "6d", "7d", "8d"]
    },
    rush: {
      id: "rush",
      name: "Rush",
      prices: [
        15000,
        25000,
        50000,
        100000,
        200000,
        350000,
        550000,
        800000,
        2000000,
        5000000
      ],
      term: ["8h", "16h", "1d", "2d", "3d", "4d", "5d", "6d", "7d", "7d"]
    },
    tradeBurst: {
      id: "tradeBurst",
      name: "Trade Burst",
      prices: [
        20000,
        35000,
        65000,
        100000,
        200000,
        350000,
        700000,
        1000000,
        2500000,
        5000000
      ],
      term: ["1d", "2d", "3d", "4d", "5d", "6d", "7d", "8d", "9d", "10d"]
    },
    shipmentDrone: {
      id: "shipmentDrone",
      name: "Shipment Drone",
      prices: [
        150000,
        200000,
        350000,
        500000,
        750000,
        1000000,
        2000000,
        3000000,
        5000000,
        8000000
      ],
      term: ["1d", "2d", "3d", "4d", "5d", "6d", "7d", "7d", "7d", "7d"]
    },

    offload: {
      id: "offload",
      name: "Offload",
      prices: [
        100000,
        120000,
        140000,
        160000,
        180000,
        200000,
        250000,
        300000,
        400000,
        500000
      ],
      term: ["2d", "3d", "4d", "5d", "6d", "7d", "8d", "9d", "10d", "10d"]
    },
    shipmentBeam: {
      id: "shipmentBeam",
      name: "Shipment Beam",
      prices: [
        80000,
        100000,
        120000,
        140000,
        160000,
        180000,
        250000,
        300000,
        350000,
        400000
      ],
      term: ["1d", "2d", "3d", "4d", "5d", "6d", "7d", "7d", "7d", "7d"]
    },
    entrust: {
      id: "entrust",
      name: "Entrust",
      prices: [
        100000,
        160000,
        250000,
        400000,
        650000,
        1000000,
        1500000,
        2500000,
        4000000,
        6000000
      ],
      term: ["2d", "3d", "4d", "5d", "6d", "7d", "8d", "9d", "10d", "10d"]
    },
    dispatch: {
      id: "dispatch",
      name: "Dispatch",
      prices: [
        200000,
        300000,
        400000,
        500000,
        600000,
        800000,
        1000000,
        3500000,
        6000000,
        8000000
      ],
      term: ["1d", "2d", "3d", "4d", "5d", "6d", "7d", "7d", "7d", "7d"]
    },
    recall: {
      id: "recall",
      name: "Recall",
      prices: [
        200000,
        300000,
        400000,
        500000,
        600000,
        800000,
        1000000,
        3500000,
        6000000,
        8000000
      ],
      term: ["1d", "2d", "3d", "4d", "5d", "6d", "7d", "7d", "7d", "7d"]
    },

    batery: {
      id: "batery",
      name: "Batery",
      prices: [2500, 3500, 5500, 9500, 13000],
      term: [5, 10, 15, 20, 40]
    }
  }
