mixin module(data)
  button.module.modules-pack__item(data-module-id=data.id, data-current-l=0 data-target-l=0)= data.name

doctype html
html(lang='en')
  head
    title Pug
    meta(name="viewport" content="width=device-width, initial-scale=1")/
    style
      include style.css
  body
    header
      p Result:&nbsp;
        span.result

      div.mode-toggle
        label current
          input(type="radio", name="mode" value="current" checked)
        label target
          input(type="radio", name="mode" value="target")

    .modules
      h2 Trade modules
      section.modules-pack
        each moduleData in tradeModules
          +module(moduleData)

      h2 Mining modules
      section.modules-pack
        each moduleData  in miningModules
          +module(moduleData)

      h2 Weapon modules
      section.modules-pack
        each moduleData  in weaponModules
          +module(moduleData)

      h2 Shield modules
      section.modules-pack
        each moduleData  in shieldModules
          +module(moduleData)

      h2 Support modules
      section.modules-pack
        each moduleData  in supportModules
          +module(moduleData)

  script
    include moduleData.js
  script
    include script.js
