mixin module(data)
  p
    button(class=data.id)= data.name

doctype html
html(lang='en')
  head
    title Pug
    meta(name="viewport" content="width=device-width, initial-scale=1")/
    style
      include style.css
  body

    p Result:&nbsp;
      span.result
    div(style='display:flex')

      .current-modules(style='width: 200px;')
        p Trade modules
           each moduleData in tradeModules
              +module(moduleData)

        p Mining modules
           each moduleData  in miningModules
              +module(moduleData)

        p Weapon modules
           each moduleData  in weaponModules
              +module(moduleData)

        p Shield modules
           each moduleData  in shieldModules
              +module(moduleData)

        p Support modules
           each moduleData  in supportModules
              +module(moduleData)

      .target-modules
        p Trade modules
           each moduleData in tradeModules
              +module(moduleData)

        p Mining modules
           each moduleData  in miningModules
              +module(moduleData)

        p Weapon modules
           each moduleData  in weaponModules
              +module(moduleData)

        p Shield modules
           each moduleData  in shieldModules
              +module(moduleData)

        p Support modules
           each moduleData  in supportModules
              +module(moduleData)

  script
    include moduleData.js
  script
    include script.js
