doctype html
html(lang='en')
  head
    title Hades Star Tools
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  body
    .container
      header
        h1 Hades Star Tools
      main
        ul
          li 
            a(href="/module-calc/index.pug") Module calc
          li 
            a(href="/crystal-calc/index.pug") Crystal calc
