mixin module(data)
  - var bg = "background-image: url('../pages/modules/" + data.id + ".png')"
  div.modules-pack__item
    button.module(
      data-module-id=data.id,
      data-current-l=0,
      data-target-l=0,
      style=bg
    )= data.name

doctype html
html(lang='en')
  head
    title Hades Star Module Calculator
    meta(name="viewport" content="width=device-width, initial-scale=1")/
    style
      include style.css
  body
    .container
      header
        h1 Module calculator
      div.result
        p.result-credit Credit:&nbsp;
          span.value
        p.result-duration Period:&nbsp;
          span.value
        div.controls
          button.save-btn.btn.btn--ok Save to URL
          button.reset-btn.btn.btn--cancel Reset
      .modules
        h2 Trade modules
        section.modules-pack
          each moduleData in tradeModules
            +module(moduleData)

        h2 Mining modules
        section.modules-pack
          each moduleData  in miningModules
            +module(moduleData)

        h2 Weapon modules
        section.modules-pack
          each moduleData  in weaponModules
            +module(moduleData)

        h2 Shield modules
        section.modules-pack
          each moduleData  in shieldModules
            +module(moduleData)

        h2 Support modules
        section.modules-pack
          each moduleData  in supportModules
            +module(moduleData)
        p.dev dev by Joxter
    .modal
      .modal-container
        .module-form
          .module-form__header
            span.module-form__icon
            h2.module-form__title -
          .module-form__selects
            label.module-form__select-label Current level:&nbsp;
              select(name="from")
                option(value="1" label=1)
                option(value="2" label=2)
            label.module-form__select-label Target level:&nbsp;
              select(name="to")
                option(value="1" label=1)
                option(value="2" label=2)
          .module-form__buttons
            button.btn.btn--cancel Cancel
            button.btn.btn--ok Ok
  script(src='script.js')
