doctype html
html(lang='en')
  head
    title Pug
    style
      include style.css
    script
      include moduleData.js
  body
    div
      include data.pug

    div(style='display:flex')

      .current-modules(style='width: 200px;')
        p Trade modules
           each item in modules
              p
                button(class=modules_data[item].id)= modules_data[item].name

        p
          button.cargo cargo
        p
          button.comp shipment comp
        p Atack modules
        p
          button.batery batery
      .target-modules
        p Trade modules
        p
          button.cargo cargo
        p
          button.comp shipment comp
        p Atack modules
        p
          button.batery batery
    p.result
    p(class=css) #{insertData}
  script
    include script.js
