html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica, sans-serif;
  background-color: #101415;
  color: #9fe5fb;
}

* {
  box-sizing: border-box;
}

p {
  color: #d7d8da;
}

header {
  padding: 0 10px;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  background-color: #161b1d;
}

@media (min-width: 900px) {
  .container {
    max-width: 800px;
  }
}

@media (min-width: 1300px) {
  .container {
    max-width: 1200px;
  }
}

h1 {
  margin-top: 0;
  padding-top: 1em;
  text-align: center;
}

h3 {
  text-align: center;
}

.btn {
  font-size: inherit;
  border: 0;
  padding: 5px 15px;
  display: inline-block;
  background-color: #9fe5fb;
  border-radius: 4px;
}

.btn:disabled {
  background-color: #d7d8da;
}

.btn--light {
  background-color: transparent;
  color: #d7d8da;
  border: 1px solid #d7d8da;
}

.btn--cancel {
  background-color: #ef6c8e;
}

.btn + .btn {
  margin-left: 10px;
}

footer {
  border-top: 1px solid #101415;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 10px;
}

.dev {
  text-align: right;
  margin: 10px 0 0;
  font-size: 14px;
}

.dev a {
  color: #9fe5fb;
}

.pages-links {
  list-style: none;
  padding-left: 5px;
}

.pages-links a {
  color: #d7d8da;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 16px;
}
