html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica, sans-serif;
  background-color: #101415;
  color: #9fe5fb;
}

* {
  box-sizing: border-box;
}

p {
  color: #d7d8da;
}

header {
  max-width: 400px;
  padding: 0 10px;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  background-color: #161b1d;
}

h1 {
  margin-top: 0;
  padding-top: 1em;
  text-align: center;
}

h3 {
  text-align: center;
}

.result {
  padding: 0 10px;
}

.controls {
  margin-bottom: 10px;
}

.reset-btn,
.save-btn {
  font-size: 16px;
  padding: 5px;
  border-radius: 3px;
}

.mode-toggle label {
  display: inline-block;
  font-size: 18px;
  padding: 5px 15px 5px 0;
}

.description {
  color: #d7d8da;
  margin-bottom: 0;
  padding-bottom: 1em;
}

.modules {
  padding-bottom: 20px;
}

.modules h2 {
  padding-left: 10px;
  font-weight: normal;
}

.modules-pack {
  display: flex;
  flex-wrap: wrap;
}

.modules-pack__item {
  flex-basis: 25%;
  margin-bottom: 10px;
}

.module {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  position: relative;
  background-color: transparent;
  background-size: auto 44px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('./module_background.png');
  border: 0;
  font-size: 0;
}

.module__icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  display: block;
}

.module:before,
.module:after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -3px;
  z-index: 1;
  color: #9fe5fb;
  font-size: 10px;
  border-radius: 50%;
  min-width: 14px;
  min-height: 14px;
  font-size: 13px;
}

.module:before {
  content: attr(data-current-l);
  left: -5px;
}

.module:after {
  content: attr(data-target-l);
  right: -5px;
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
}

.modal-container {
  background-color: #fff;
  margin: 20px auto;
  max-width: 300px;
}

.module-form {
  padding: 20px;
  background-color: #101415;
  color: #d7d8da;
}

.module-form__header {
  display: flex;
  align-items: center;
}

.module-form__icon {
  flex-shrink: 0;
  flex-basis: 64px;
  height: 56px;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.module-form__title {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
}

.module-form__selects {
  margin-top: 20px;
}

.module-form__select-label:not(:first-child) {
  margin-top: 10px;
}
.module-form__select-label {
  font-size: 14px;
  display: block;
}

.module-form__select-label select {
  font-size: 14px;
  text-align: right;
  background-color: #d7d8da;
}

.module-form__buttons {
  margin-top: 20px;
}

.btn {
  font-size: inherit;
  border: 0;
  padding: 5px 25px;
  display: inline-block;
  background-color: #9fe5fb;
  border-radius: 4px;
}

.btn--cancel {
  background-color: #ef6c8e;
}

.btn + .btn {
  margin-left: 10px;
}

.dev {
  text-align: center;
}

.dev a {
    color: #9fe5fb;
}
