html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.layout__header,
.layout__footer {
    flex-shrink: 0;
}

.layout__main {
    flex-grow: 1;
}

header {
    position: sticky;
    top: 0;
    padding-bottom: 5px;
    background-color: #fff;
    z-index: 1;
    border: 1px solid #eee;
}

.modules {
    max-width: 400px;
}

.modules-pack {
    display: flex;
    flex-wrap: wrap;
}

.modules-pack__item {
    flex-basis: calc(25% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
}

.module {
    display: block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: relative;
    background: #fff;
    border: 1px solid #444;
}

.module:before,
.module:after{
    display: block;
    position: absolute;
    bottom:0;
    background: #fff;
    border: 1px solid #444;
}

.module:before {
    content: attr(data-current-l);
    left: 0;
}

.module:after {
    content: attr(data-target-l);
    right: 0;
}
