@import './layout.css';

.result {
  padding: 0 10px;
}

.result h2 button {
  font-size: 14px;
  transform: translate(10px, -8px);
}

.save-and-share {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.save-and-share > * {
  margin-bottom: 10px;
}

.save-and-share h2 {
  margin-top: 0;
}

.save-btn {
  font-size: 16px;
  padding: 5px;
  border-radius: 3px;
}

.mode-toggle label {
  display: inline-block;
  font-size: 18px;
  padding: 5px 15px 5px 0;
}

.share-modules-link {
  color: inherit;
  font-size: 11px;
  word-break: break-all;
  margin-top: 10px;
  display: inline-block;
}

.share-modules-link:empty {
  display: none;
}

.description {
  color: #d7d8da;
  margin-bottom: 0;
  padding-bottom: 1em;
}

h2 {
  padding-left: 10px;
  font-weight: normal;
}

.modules-pack {
  display: flex;
  flex-wrap: wrap;
}

.modules-pack__item {
  flex-basis: 25%;
  margin-bottom: 10px;
}

.module {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  position: relative;
  background-color: transparent;
  background-size: auto 44px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('./module_background.png');
  border: 0;
  font-size: 0;
}

.module--closed {
  opacity: 0.5;
}

.module--active {
  border-radius: 25px;
  overflow: visible;
  box-shadow: 0 0 16px 0px rgba(82, 81, 26, 0.7), inset 0 0 16px 0px rgba(82, 81, 26, 0.7);
}

.module__icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  display: block;
}

.module:before,
.module:after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -3px;
  z-index: 1;
  color: #9fe5fb;
  font-size: 10px;
  border-radius: 50%;
  min-width: 14px;
  min-height: 14px;
  font-size: 13px;
}

.module:before {
  content: attr(data-current-l);
  left: -5px;
}

.module:after {
  content: attr(data-target-l);
  right: -5px;
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
}

.modal-container {
  background-color: #fff;
  margin: 20px auto;
  max-width: 300px;
  position: relative;
  overflow: hidden;
}

.module-form {
  padding: 20px;
  background-color: #101415;
  color: #d7d8da;
}

.module-form__header {
  display: flex;
  align-items: center;
}

.module-form__icon {
  position: absolute;
  right: 5px;
  top: 5px;
  height: 56px;
  width: 56px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.module-form__title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: bolder;
  color: #9fe5fb;
  background-color: rgba(16, 20, 21, 0.7);
  display: block;
  z-index: 1;
}

.module-form__result {
  color: #9fe5fb;
  font-size: 18px;
}

.module-form__result-val {
  font-size: 16px;
  color: #d7d8da;
}

.module-form__selects {
  margin-top: 20px;
}

.module-form__select-label:not(:first-child) {
  margin-top: 10px;
}

.module-form__select-label {
  font-size: 14px;
  display: block;
}

.module-form__select-label select {
  font-size: 14px;
  text-align: right;
  background-color: #d7d8da;
}

.module-form__buttons {
  margin-top: 20px;
}

.levels-table {
}

.levels-table p {
  margin-bottom: 5px;
}

.levels-table__row {
  display: flex;
  margin: 0 -10px;
}

.levels-table__row input {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.levels-table label {
  display: flex;
  flex: 0 1 50px;
  margin-left: 2px;
}

.levels-table__row span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25px;
  font-size: 16px;
  color: #9fe5fb;
  box-shadow: inset 0 0 1px 1px rgba(159, 229, 251, 0.6);
  border-radius: 2px;
}

.levels-table input:checked + span {
  color: #101415;
  background-color: #9fe5fb;
}

.module-form__params {
  font-size: 0.8em;
  margin-top: 20px;
}

.param-row__label {
  margin-top: 8px;
  margin-bottom: 0;
}

.param-row__delta {
  color: gold;
}

.param-row__value {
  text-align: right;
  margin: 0;
}
